body {
    background-image: url(Images/rainier.jpg);
    width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    font-family: 'Fjalla One', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

.home-page {
    font-size: 5vw;
    margin-left: 10px;
    text-align: right;
    position: fixed;
    right: 20px;
}

.portfolio-page {
    display: none;
}

.contact-page {
    display: none;
}

.link {
    color: #fdfdfd;
    opacity: .9;
    text-decoration: none;
}

span {
    color: #fdfdfd;
    opacity: .5;
}

.intro {
    text-align: right;
}

.portfolio {
    text-align: right;
    font-size: 50px;
    color: #fdfdfd;
}

.ruck-log {
    text-align: right;
    font-size: 40px;
    color: #fdfdfd;
}

.phrasenado {
    text-align: right;
    font-size: 40px;
    color: #fdfdfd;
}

.project-image {
    width: 300px;
}

.contact {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.contact-icon {
    width: 40px;
    margin: 10px;
}